div
{
    display: block;
}

.d-md-inline-block {
    display: inline-block!important;
}

.position-relative {
    position: relative;
}

.py-md-3 {
    padding-top: 16px;
    padding-bottom: 20px;
}
.col-12 {
    width: 100%;
}
.container-lg, .container-xl {
    margin-right: auto;
    margin-left: 20px;
}
.container-lg {
    max-width: 1012px;
}

.px-md-2 {
    padding-right: 8px;
}

.pl-md-2, .px-md-2 {
    padding-left: 8px;
}
.float-left {
    float: left;
}

.col-md-3 {
    width: 200px;
}
.col-12 {
    width: 100%;
}

.p-3 {
    padding: 16px;
}
.mb-3 {
    margin-bottom: 16px;
}
.border {
    border: 1px solid #e1e4e8;
}
.col-md-9 {
    width: 75%;
}

.pb-3 {
    padding-bottom: 16px!important;
}
.width-full {
    width: 100%!important;
}
.py-4 {
    padding-top: 24px!important;
    padding-bottom: 24px!important;
}

.text-bold {
    font-weight: 600!important;
}
.text-small {
    font-size: 12px!important;
}
.flex-shrink-0 {
    flex-shrink: 0!important;
}
.link-gray {
    color: #586069!important;
}

.text-normal {
    font-weight: 400!important;
}

.f4 {
    font-size: 16px!important;
}

.code-list .file-box {
    border: 1px solid #e1e4e8;
    border-radius: 6px;
}
.blob-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
}
.my-1 {
    margin-top: 4px!important;
    margin-bottom: 4px!important;
}
.d-flex {
    display: flex!important;
}
.text-small {
    font-size: 12px!important;
}
.flex-wrap {
    flex-wrap: wrap!important;
}
.text-gray {
    color: #586069!important;
}
.mr-3 {
    margin-right: 16px!important;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

td {
    display: table-cell;
    vertical-align: inherit;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.code-list .blob-num a {
    padding: 0 10px;
    color: inherit;
}
a {
    color: #0366d6;
    text-decoration: none;
}
a {
    background-color: initial;
}

.code-list .blob-num {
    padding: 0;
}
.code-list .blob-code {
    white-space: nowrap;
}
.blob-num {
    width: 1%;
    min-width: 50px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    font-size: 12px;
    line-height: 20px;
    color: rgba(27,31,35,.3);
    text-align: right;
    white-space: nowrap;
    vertical-align: top;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.blob-code-inner {
    overflow: visible;
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    font-size: 12px;
    color: #24292e;
    word-wrap: normal;
    white-space: pre;
}
.blob-code {
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 20px;
    vertical-align: top;
}

.pl-k {
    color: #d73a49;
}
.rounded-1 {
    border-radius: 6px!important;
}
.d-inline-block {
    display: inline-block!important;
}
.text-bold {
    font-weight: 600!important;
}
.bg-yellow-light {
    background-color: #fff5b1!important;
}
.pl-c1, .pl-s .pl-v {
    color: #005cc5;
}


.paginate-container {
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center;
}

.d-flex {
    display: flex!important;
}

.pagination .disabled, .pagination .disabled:hover, .pagination .gap, .pagination .gap:hover, .pagination [aria-disabled=true], .pagination [aria-disabled=true]:hover {
    color: #6a737d;
    cursor: default;
    border-color: transparent;
}

.page-responsive .pagination>* {
    display: inline-block;
}

.pagination a, .pagination em, .pagination span {
    display: inline-block;
    min-width: 32px;
    padding: 5px 10px;
    font-style: normal;
    line-height: 20px;
    color: #24292e;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 6px;
    transition: border-color .2s cubic-bezier(.3,0,.5,1);
}

a {
    background-color: initial;
}

a {
    color: #0366d6;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.pagination .previous_page:before {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
    content: "";
    background-color: currentColor;
}

.pagination .previous_page:before {
    margin-right: 4px;
    -webkit-clip-path: polygon(9.8px 12.8px,8.7px 12.8px,4.5px 8.5px,4.5px 7.5px,8.7px 3.2px,9.8px 4.3px,6.1px 8px,9.8px 11.7px,9.8px 12.8px);
    clip-path: polygon(9.8px 12.8px,8.7px 12.8px,4.5px 8.5px,4.5px 7.5px,8.7px 3.2px,9.8px 4.3px,6.1px 8px,9.8px 11.7px,9.8px 12.8px);
}

.pagination .next_page:after {
    margin-left: 4px;
    -webkit-clip-path: polygon(6.2px 3.2px,7.3px 3.2px,11.5px 7.5px,11.5px 8.5px,7.3px 12.8px,6.2px 11.7px,9.9px 8px,6.2px 4.3px,6.2px 3.2px);
    clip-path: polygon(6.2px 3.2px,7.3px 3.2px,11.5px 7.5px,11.5px 8.5px,7.3px 12.8px,6.2px 11.7px,9.9px 8px,6.2px 4.3px,6.2px 3.2px);
}


.pagination .next_page:after, .pagination .previous_page:before {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
    content: "";
    background-color: currentColor;
}

.pagination .current, .pagination .current:hover, .pagination [aria-current]:not([aria-current=false]) {
    color: #fff;
    background-color: #0366d6;
    border-color: transparent;
}

* {
    box-sizing: border-box;
}